<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<h1>Home Page</h1>

<div style="margin:50px;">
	<h3>Create a User</h3>
	<!-- We're using a URL to access the model -->
    <%= form_with url: create_users_path do |form| %>
	    <%= form.text_field :name, placeholder: "Your Name" %><br />
	    <%= form.number_field :age, placeholder: "Your Age" %><br />
	        <%= form.submit "Create Profile" %>
    <% end %>
</div>

<div style="margin:50px;">
    <h3>Create a Product</h3>
    <!-- We're accessing the model directly -->
    <%= form_with model: @product do |f| %>
    <%= f.text_field :name, placeholder: "Product Name" %><br />
    <%= f.number_field :price, placeholder: "Price", step: :any %><br />
    <%= f.number_field :quantity, placeholder: "Quantity" %><br />
    <%= f.submit %>
    <% end %>
</div>